

/* .sub_menu {display: none;} */
.sub_1.on {display: block;}
.sub_3.on {display: block;}
.sub_4.on {display: block;}
.sub_6.on {display: block;}

/* edt */
.edt {width: 100%; position: relative; margin-top: 50px; border-bottom: 1px solid; box-sizing: border-box;}



.main_modal { position: fixed; width: 100%; height: 100%; z-index: 9999; top: 0; left: 0; background-color: rgba(239, 239, 239, 0.8); padding-top: 100px; display: none;}
.main_modal .list-pops { width: 1000px; position: fixed; border-radius: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.main_modal .close_btn { width: 100px; height: 60px; line-height: 60px; font-size: 20px; color: #333; cursor: pointer; text-align: center; position: relative; right: 0; font-weight: bold; transition: background-color .2s linear; } 
.main_modal .close_btn:hover { background-color: #FBCE0F; } 


@media (max-width: 1000px) {
  .main_modal .list-pops {width: 400px;}
 .sp-bottom-thumbnails.sp-has-pointer { position: absolute; bottom: -28px; left: 50%; transform: translateX(-50%); } 
 .sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail-container { margin: 0 5px; border-radius: 50%; background-color: #d4d4d4; } 
 .slide .sp-mask { border-radius: 20px; } 
 }
